./node_modules
.node_modules
node_modules

./vscode
.vscode
vscode

./package-lock.json
.package-lock.json
package-lock.json

./playwright-report
.playwright-report
playwright-report

./test-results
.test-results
test-results


.env.vault